body,
.App {
  font-family: "Source Code Pro", monospace;
  height: 100vh;
  background-color: #292738;
  font-size: 16px;
}
nav {
  min-height: 4vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
  width: 100vw;
  border-bottom: 1px solid #a4a2a8;
  color: white;
  position: fixed;
  background-color: #292738;
  z-index: 400;
}
.App-sidebar {
  position: absolute;
  top: 200px;
  left: -100px;
}

.card {
  background-color: #181b27;
  border-radius: 0.5rem;
  color: #75787f;
  display: flex;
  margin: 4px auto;
  align-items: center;
}
/* // temp */
.card h2 {
  font-size: 18px;
}
.card p {
  margin-right: 1rem;
  text-align: left;
}
.card p:first-of-type {
  width: 40%;
}
.App-content {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 150px;
  position: relative;
}

.content {
  color: #75787f;
  font-weight: normal;
}
.content.active {
  font-weight: bolder;
  color: white;
}

.hey {
  color: white;
}
.card h2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
