body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
	background: linear-gradient(to top, #243B55, #141E30);
	background-repeat:none;
	min-height: 100vh;
	color: #ccc;
}

.App-wrap {
	margin: 0 auto;
	max-width: 700px;
}
h4 {
  margin: 0;
  font-weight: 900;
}
.card-wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.card {
  background-color: #444;
  transition: all 1s ease-in-out;
  padding: .5rem;
  border-radius: .5rem;
  margin-bottom: 2rem;
  border: 2px solid rgba(0, 0, 0, .1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
  max-width: 250px;
}
label {
  color: white;
}
